DATABASE_URL=postgresql://postgres:postgres@db:5432/personal_finance_lab3
PARSER_SERVICE_URL=http://parser-service:8000
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
SCHEDULED_PARSE_URL=https://www.imf.org/
