JWT_SECRET=
POSTGRES_PASSWORD=postgres
API_PORT=8000
PARSER_PORT=8001
LR1_PORT=8011
DB_PORT=5434
REDIS_PORT=6379
SCHEDULED_PARSE_URL=https://www.worldbank.org/
PARSE_INTERVAL_SECONDS=21600
LR1_ROOT_PATH=
LR3_ROOT_PATH=
PARSER_ROOT_PATH=
